/* * {
    border-color: royalblue;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
}  */
body {
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom,#0d1d3a,#1a2f55 52%,#365a83);
}
.carousel {
    padding-top: 60px;
}
.academic { 
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-left: 10px; */
}
section, footer {
    padding-top: 65px;
    padding-bottom: 15px;
    padding-left: 4%;
    padding-right: 4%;
}
h3 { 
    color: white;
}
meter {
    width: 85%;
    height: 30px;
}

/*testeando clases de estilos*/
.testeando{ 
    position: absolute;
    /* border: solid; */

    top: 0rem;
    left: 0.7rem;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.col-btn { 
    position: relative;
}

.col-btn img {
    width: 100%;
    height: auto;
}

.img-btn {
    /* position: absolute; */
    /* top: 1%;
    left: 50%; */
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    color: black;
    /* padding: 100px 100px;
    border-radius: 5px;
    text-align: center; */
}

/*mas testeos para otros elementos del "card"*/
.col-btn div.card-body {
    width: 100%;
    height: auto;
}

.card-btn {
    color: black;
}
/*hasta aca esta parte*/

.btn-circle {
    width: 35px;
    height: 35px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin: 3px;
}

